.containerBlockAccueil{
   display: flex;
   justify-content: center;
   padding: 2vh;
}

.hidden{
   display: none;
}

.show{
   display: flex;
}
/* Loading */

.loadingCenter{
   display:flex;
   justify-content: center;
   align-items: center;
}

/* Evenement */

.containerAccueilEvenements{
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-bottom: 7vh;
}


.divAccueilEvenements{
   width: 70%;
   background-color: #141414;
   color: whitesmoke;
   text-align: center;
   padding: 3px;
   overflow-y: auto;
   height: 22vh;
}


.ulAccueilEvenements{
   padding: 0;
   display: flex;
   justify-content: center;
   flex-direction: column;
   justify-content: space-between;
   list-style: none;
   margin: 0;
}

.ulAccueilEvenements li{
   background-color: whitesmoke;
   color: #141414;
   width: 100%;
   height: 5vh;
   margin: 1.5px 0;
   font-size: 1.4rem;
}





/* Prochain Match */


.containerProchainMatchs{
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-bottom: 7vh;
}

.divProchainMatch{
   width: 70%;
   background-color: #141414;
   color: whitesmoke;
   text-align: center;
   padding: 3px;
   overflow-y: auto;
   height: 22vh;
}

.ulAccueilProchainMatchs{
   padding: 0;
   display: flex;
   justify-content: center;
   flex-direction: column;
   justify-content: space-between;
   list-style: none;
   margin: 0;
}



.divProchainMatch li{
   background-color: whitesmoke;
   color: #141414;
   width: 100%;
   height: 5vh;
   margin: 1.5px 0;
   font-size: 1.4rem;
}


/* Resultats */


.containerResultats{
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-bottom: 7vh;
}

.divResultats{
   width: 70%;
   background-color: #141414;
   color: whitesmoke;
   text-align: center;
   padding: 3px;
   height: 22vh;
   display: flex;
}

.ulAccueilResultats{
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   list-style: none;
   width: 65%;
   margin-right: 1vw;
   overflow-y: auto;
}

.blockDroitResultats{
   display: flex;
   flex-direction: column;
   width: 35%;
   padding-bottom: 2vh;
   padding-right: 2vw;
}

.blockDroitResultats p{
   font-size: 1.6rem;
   margin: 0.1vh;
}



.AccueilfiltreEquipe{
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}


.AccueilfiltreEquipe ul{
   padding: 0;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.AccueilfiltreEquipe ul li{
   width: 50%;
   font-size: 1.2rem;
   font-weight: bold;
}


.AccueilfiltreEquipe ul li:hover{
   border-bottom: 3px solid yellow;
}



.divResultats li{
   background-color: whitesmoke;
   color: #141414;
   width: 100%;
   height: 5vh;
   margin: 3px 0;
   font-size: 1rem;
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow-x: auto;
}



.containerProchainMatchs h3, .containerResultats h3, .containerAccueilEvenements h3{
   font-size: 27px;
   border-bottom: 2px solid yellow;

   margin-bottom: 3vh;
}

#result{
   width: 30px;
   height: 30px;
}


@media only screen and (max-width: 380px) {

   .divProchainMatch li, .divResultats li, .divAccueilEvenements li{
      background-color: whitesmoke;
      color: #141414;
      width: 100%;
      height: 2.7vh;
      margin: 3px 0;
      font-size: 0.7rem;
   }


   .divResultats li{
      font-size: 0.5rem;
   }



   .divProchainMatch, .divResultats, .divAccueilEvenements{
      height: 12vh;
   }

   .containerProchainMatchs, .containerResultats, .containerAccueilEvenements {
      margin-bottom: 2vh;
   }


   .containerProchainMatchs h3, .containerResultats h3, .containerAccueilEvenements h3{
      font-size: medium;
   }

   /* Resultats */

   .blockDroitResultats{
      padding-bottom: 1vh;
      padding-right: 1vw;
   }


   .blockDroitResultats p{
      font-size: smaller;
      margin-bottom: 1vh;
   }

   .AccueilfiltreEquipe ul li{
      font-size: 0.9rem;
   }

   #result{
      width: 15px;
      height: 15px;
   }
   

}
