.divEachMember{
  width: 25%;
  display: flex;
  padding: 2em;
  flex-direction: column;
}

.divEachMember img{
  width: 100%;
  height: 15em;
}

.divEachMemberText{
  display: flex;
  width: 100% ;
  justify-content: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}