.containerCategories{
   display: flex;
   justify-content: space-around;
}

.divEquipes{
   padding: 2vw;
   width: 25%;
   border: 2px solid black;

}

.divPresentation img{
   height: 100%;
}

.divEquipes h3, .divInfos h3{
   font-size: 2rem;
}

.categoriesfiltreEquipe{

}

.categoriesfiltreEquipe ul{
   padding: 0;
   list-style: none;
   line-height: 7vh;
   font-size: 1.3rem;
}

/* Infos */
.containerInfos{
   width: 70%;
   display: flex;
   flex-wrap: wrap;
   border: 2px solid black;
}

.divInfos h3{
   width: 100%;
}

.containerPresentation{
   width: 100%;
   height: 70vh;
   text-align: center;
   margin-bottom: 2vh;
}

.divPresentation{
   width: 100%;
   background-color: blue;
   height: 90%;
}

.divRoster{
   width: 100%;
}


.imagePresentation{

}


/* Roster */
.containerCategoriesRoster{
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 100%;
}


.divRoster{
   width: 100%;
   border: 2px solid black;
   width: 70%;
   background-color: #141414;
   color: whitesmoke;
   text-align: center;
   padding: 3px;
   overflow-y: auto;
   height: 22vh;
}


.ulCategoriesRoster{
   padding: 0;
   display: flex;
   justify-content: center;
   flex-direction: column;
   justify-content: space-between;
   list-style: none;
   margin: 0;
}

/* Results */


.containerCategoriesResults{
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 100%;
}

.divCategoriesResults{
   width: 100%;
   border: 2px solid black;
   width: 70%;
   background-color: #141414;
   color: whitesmoke;
   text-align: center;
   padding: 3px;
   overflow-y: auto;
   height: 22vh;
}

.ulCategoriesResults{
   padding: 0;
   display: flex;
   justify-content: center;
   flex-direction: column;
   justify-content: space-between;
   list-style: none;
   margin: 0;
}



.divCategoriesResults li{
   background-color: whitesmoke;
   color: #141414;
   width: 100%;
   height: 5vh;
   margin: 3px 0;
   font-size: 1.4rem;
   box-sizing: border-box;
}

@media only screen and (max-width: 380px) {

   .divEquipes h3, .divInfos h3{
      font-size: 1.3rem;
      font-weight: 800;
   }

   .divPresentation img{
      height: 100%;
   }

   .containerPresentation{
      height: 30vh;
   }

   .divCategoriesResults li{
      height: 4vh;
   }

   .divCategoriesResults, .divRoster{
      width: 90%;
   }

   #result{
      width: 25px;
      height: 25px;
   }

}