.containerRss{
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-bottom: 7vh;
   width: 100%;
}


.divRssFFBB{
   width: 100%;
   background-color: #141414;
   color: whitesmoke;
   text-align: center;
   padding: 3px;
   overflow-y: auto;
   height: 22vh;
}

.ulRssFFBB{
   padding: 0;
   display: flex;
   justify-content: center;
   flex-direction: column;
   justify-content: space-between;
   list-style: none;
   margin: 0;
}



.divRssFFBB li{
   background-color: whitesmoke;
   color: #141414;
   width: 100%;
   height: 5vh;
   margin: 3px 0;
   font-size: 1.4rem;
}



/* NBA */
.containerRssNBA{
   width:45% ;
}

.divRssNBA{
   width: 100%;
   background-color: #141414;
   color: whitesmoke;
   text-align: center;
   padding: 3px;
   overflow-y: auto;
   height: 22vh;
}

.ulRssNBA{
   padding: 0;
   display: flex;
   justify-content: center;
   flex-direction: column;
   justify-content: space-between;
   list-style: none;
   margin: 0;
}



.divRssNBA li{
   background-color: whitesmoke;
   color: #141414;
   width: 100%;
   height: 5vh;
   margin: 3px 0;
   font-size: 1.4rem;
}


.containerRssFFBB, .containerRssNBA{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 45%;
}



.containerRssFFBB h3, .containerRssNBA h3{
   font-size: medium;
   border-bottom: 2px solid yellow;
   width: 100%;
}



@media only screen and (max-width: 380px) {

   .divRssFFBB li, .divRssNBA li{
      background-color: whitesmoke;
      color: #141414;
      width: 100%;
      height: 2.7vh;
      margin: 3px 0;
      font-size: 0.7rem;
   }


   .divRssFFBB, .divRssNBA{
      height: 12vh;
   }

   .containerProchainMatchs, .containerResultats {
      margin-bottom: 2vh;
   }


   .containerRssFFBB h3, .containerRssNBA h3{
      font-size: medium;
   }


}
