.containerPartners {
	min-height: 20vh;
	padding: 20px;
}

.divPartners {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.5em 0.5em;
	background-color: #141414;
	overflow-x: hidden;
}

.divPartners img {
	height: 20vh;
	width: 20vh;
}
